:root {
    --white-color: var(--WHITE, #fff);
    --dark-red-color: var(--DARK-RED, #a00c0c);
    --navy-blue-color: var(--NAVY-BLUE, #2d06a2);
    --orange-color: var(--ORANGE, #ea5d06);
    --black-color: var(--BLACK, #000);
  }
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  .link {
    text-decoration: none;
  }
  .list {
    list-style: none;
  }
  .text {
    font-weight: 400;
    color: var(--slate-color);
    font-style: normal;
  }
  .container {
    margin: 0 auto;
    padding: 20px;
  width: 1160px;
  }
  .my-name {
    font-family: "EB Garamond", serif;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--dark-red-color);
    text-align: center;
    justify-content: center;
    padding-top: 30px ;
    padding-bottom: 10px;
    font-size: 40px;
  }
  .address {
    font-style: normal;
  }
  .personal-data {
display: flex;
margin: auto;
text-align: center;
gap: 200px;
justify-content: center;
font-size: 25px;
  }
  .contact {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    color:var(--navy-blue-color);
}
 .header {
 color:var(--orange-color);
 text-align: center;
 font-style: normal;
 line-height: 1.5;
 letter-spacing: 0.02em;
 font-weight: 700;
 margin: 10px;
 font-size: 35px;

 } 
 .section {
  padding: 20px;
 }
